<section class="community-statement">
  <div class="community-bg"></div>
  <article class="community-text container">
      <h2>Our Community</h2>
      <p>We believe that the key to any successful project is its community. We've created a laid-back space where
        Linux enthusiasts from anywhere in the world can come together. Whether you're a total newbie, an experienced
        power user, or anywhere in between, you can add to our community and make a difference.</p>
      <p>Our success lies in our embrace of diversity and inclusivity. It doesnn't matter if you're a tinkerer, a
        coding prodigy, or just want to give a helping hand to less experienced users, your contribution matters. Our
        project is constantly evolving along with the new technology ASUS implements into ROG. Whether it's one
        conversation or one line of code, our combined expierence shapes the future of the project.</p>
      <p>But it's not just about the project, it's about the people. More important that the project is the
        friendships and connects we make along the way. Need help tweaking your Linux configuration? Does learning
        Linux feel overwhelming? We've got your back. Feeling proud about a breakthrough in your code or just want to
        chat about the newest Linux advancements? We want to hear about it!</p>
      <p>So come join us and help keep our community a friendly, welcoming place to talk about all things Linux (and
        more)!</p>
  </article>
</section>